@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: underline; cursor: pointer;}
body {
    font-family: 'DungGeunMo';
    margin: 0px;
}
a {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    font-family: 'DungGeunMo';
    height: 2560px;
    width: 1400px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
#mood_box {
    height: 100%;
    width: 20%;
    margin: 0px;
    display: flex;
    justify-content:end;
    align-items: center;
    flex-direction: column;
}
#setup {
    height: 15%;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mood {
    height: 15%;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#flower_box {
    height: 100%;
    width: 60%;
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
#time_box {
    height: 10%;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
}
#clock {
    font-size: 70px;
}
#flower {
    height: 90%;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
}
#search_box {
    height: 100%;
    width: 20%;
    margin: 0px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: column;
}
#mypage {
    height: 12%;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search {
    height: 15%;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}