@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: underline; cursor: pointer;}
body {
    font-family: 'DungGeunMo';
    margin: 0px;
}
input{
    width: 200px;
    height: 28px;
    border: 1px solid rgb(63, 63, 63);
}
form{
    width: 60%;
    height: 100%;
    font-size: 48px;
}
#container {
    font-family: 'DungGeunMo';
    height: 2560px;
    width: 1400px;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#back {
    height: 8%;
    width: 100%;
    margin: 0px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login_box {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content:first baseline;
    align-items: center;
    flex-direction: column;
    border: 10px solid rgb(103, 103, 248);
    border-radius: 20px;
}

#login_title {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

#login {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 28px;

}
#button_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:130%;
    height:15%;

}
#button {
    display: flex;
    justify-content: center;
    align-items: center;
    width:20%;
    height:40%;
    border: 8px solid rgb(103, 103, 248);
    border-radius: 20px;
    padding-top: 10px;
    font-size: 50px;
}
#alram_sound{
    width: 60%;
}
#button:hover {cursor: pointer;}

#password_check_button{
    padding-top: 8px;
    font-size: 16px;
    width: 80px;
    height: 30px;
    font-family: 'OTWelcomeRA';
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(63, 63, 63);
    background-color: aliceblue;
    border-radius: 8px;
    margin-left: 79.5%;
}
#password_check_button:hover {cursor: pointer;}

#AMPM {
    font-size: 22px;
    width: 90px;
    height: 40px;
}
#hours {
    font-size: 22px;
    width: 90px;
    height: 40px;
    margin: 0px 15px;
}
#minutes {
    font-size: 22px;
    width: 90px;
    height: 40px;
}