{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <title>나의 일기</title>
</head>
<body>
    <script>
        $(function(){
            var set_time = document.getElementById("alarm_time_none").innerHTML;
            var bool = document.getElementById("alarm_bool_none").innerHTML;
            console.log('set_time : ',set_time);

            function set_alram() {
                var now = new Date();   //현재시간
                
                hour = now.getHours()   //현재 시간 중 시간.
                minute = now.getMinutes();
                if((hour+"").length < 2){
                    hour="0"+hour;      
                }
                if ((minute+"").length < 2){
                    minute="0"+minute;
                }
                today = hour+ "" +minute;      //오늘 날짜 완성.
                console.log('today : ',today)         
                // 시간비교
                if ((eval(today) == eval(set_time)) && bool =='False')  {  
                     function1();
                }
            }
            set_alram();
            setInterval(set_alram, 60000); // 1분마다 실행

            function function1(){
                data = 'run led'
                $.ajax({
                    type:'POST',
                    url:"{% url 'start_led' %}",
                    data:JSON.stringify(data),
                    success:function(json){
                        console.log("data pass success",json);
                    },
                    error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); 
                    }
                })
                alert('알람이 울립니다.')
                location.reload();
            }
        })
    </script>
    
    <div id="alarm_bool_none" style="display: none;">{{user.alram_ring}}</div>
    {% if user.alram_minute < 10 %}
    <div id="alarm_time_none" style="display: none;">{{user.alram_hour}}0{{user.alram_minute}}</div>
    {% else %}
    <div id="alarm_time_none" style="display: none;">{{user.alram_hour}}{{user.alram_minute}}</div>
    {% endif %}

    <div id="container">
        <div id="back">
            <a href="{% url 'calender' details.id dt_now.month dt_now.day %}">back</a>
        </div>
        <div id="login_box">
            <div id="login_title">
                <p>{{emtions.month}}월 {{emtions.day}}일 일기</p>
            </div>
            <div id="login">
                <a href="{% url 'view_video' details.id dt_now.month dt_now.day %}">동영상 일기 보기</a>
                <a href="{% url 'view_wordcloud' details.id dt_now.month dt_now.day %}">워드 클라우드 보기</a>
            </div>
        </div>
    </div>
</body>
</html>