{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/flower_detail.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>Flower</title>
</head>
<body>
    <script>
        $(function(){
            var Target = document.getElementById("clock");
            function clock() {
                var time = new Date();
    
                var month = time.getMonth();
                var date = time.getDate();
                var day = time.getDay();
                var week = ['일', '월', '화', '수', '목', '금', '토'];
    
                var hours = time.getHours();
                var minutes = time.getMinutes();
                var seconds = time.getSeconds();
    
                Target.innerText = 
                `${month + 1}월 ${date}일 ${week[day]}요일 ` +
                `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;
                    
            }
            clock();
            setInterval(clock, 1000); // 1초마다 실행
            
            var set_time = document.getElementById("alarm_time_none").innerHTML;
            var bool = document.getElementById("alarm_bool_none").innerHTML;
            console.log('set_time : ',set_time);

            function set_alram() {
                var now = new Date();   //현재시간
                
                hour = now.getHours()   //현재 시간 중 시간.
                minute = now.getMinutes();
                if((hour+"").length < 2){
                    hour="0"+hour;      
                }
                if ((minute+"").length < 2){
                    minute="0"+minute;
                }
                today = hour+ "" +minute;      //오늘 날짜 완성.
                console.log('today : ',today)         
                // 시간비교
                if ((eval(today) == eval(set_time)) && bool =='False')  {  
                     function1();
                }
            }
            set_alram();
            setInterval(set_alram, 60000); // 1분마다 실행

            function function1(){
                data = 'run led'
                $.ajax({
                    type:'POST',
                    url:"{% url 'start_led' %}",
                    data:JSON.stringify(data),
                    success:function(json){
                        console.log("data pass success",json);
                    },
                    error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); 
                    }
                })
                alert('알람이 울립니다.')
                location.reload();
            }
        })
            function backHome(){
                window.location.href= "localhost:8000/home/";
            }
    </script>
    <div id="alarm_bool_none" style="display: none;">{{user.alram_ring}}</div>
    {% if user.alram_minute < 10 %}
    <div id="alarm_time_none" style="display: none;">{{user.alram_hour}}0{{user.alram_minute}}</div>
    {% else %}
    <div id="alarm_time_none" style="display: none;">{{user.alram_hour}}{{user.alram_minute}}</div>
    {% endif %}
    <div id="container">
        <div id="flower_box">
            <div id="flower_title">
                <p>{{flower_detail.name}}</p>
            </div>
            <div id="flower">
                {% if flower_info.image %}
                <img src="{{ flower_detail.image.url }}" id="flower_picture">
                {% else %}
                <img src="{% static 'image/a.jpg' %}" class="emotion_picture">
                {% endif %}
            </div>
            <div id="detail">
                <p>꽃말 : {{flower_detail.mean}}</p>
                <hr>
                <p>추천하는 감정 다스리기 : {{flower_detail.recommend}}</p>
            </div>
            <a id="button" href="{% url 'mypage' user.id %}">되돌아가기</a>
        </div>
    </div>
</body>
</html>