{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/set_led.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>무드등 설정</title>
</head>
<body>
    <script>
        $(window.onload=function(){
            var led_color = document.getElementById('led_color').innerText
            document.getElementById('selected_color').style.backgroundColor = '#'+led_color
            
            var bool = document.getElementById("alarm_bool_none").innerHTML;
            var set_time = document.getElementById("alarm_time_none").innerHTML;
            console.log('set_time : ',set_time);

            function set_alram() {
                var now = new Date();   //현재시간
                
                hour = now.getHours()   //현재 시간 중 시간.
                minute = now.getMinutes();
                if((hour+"").length < 2){
                    hour="0"+hour;      
                }
                if ((minute+"").length < 2){
                    minute="0"+minute;
                }
                today = hour+ "" +minute;      //오늘 날짜 완성.
                console.log('today : ',today)         
                // 시간비교
                if ((eval(today) == eval(set_time)) && bool =='False')  {  
                     function1();
                }
            }
            set_alram();
            setInterval(set_alram, 60000); // 1분마다 실행

            function function1(){
                data = 'run led'
                $.ajax({
                    type:'POST',
                    url:'start_led/',
                    data:JSON.stringify(data),
                    success:function(json){
                        console.log("data pass success",json);
                    },
                    error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); 
                    }
                })
                alert('알람이 울립니다.')
                location.reload();
            }
        })
    </script>
    <div id="alarm_bool_none" style="display: none;">{{user.alram_ring}}</div>
    
    {% if user.alram_minute < 10 %}
    <div id="alarm_time_none" style="display: none;">{{user.alram_hour}}0{{user.alram_minute}}</div>
    {% else %}
    <div id="alarm_time_none" style="display: none;">{{user.alram_hour}}{{user.alram_minute}}</div>
    {% endif %}

    <div id="container">
        <div id="back">
            <a href="http://127.0.0.1:8000/home/">back</a>
        </div>
        <div id="login_box">
            <div id="login_title">
                <p>무드등 설정</p>
            </div>
            <div id="led_color" style="display: none;">{{details.led_color}}</div>
            <div id="login">
                <form action="{% url 'set_led' details.id %}" method="post">
                    <label><div id="selected_color" style="width: 100%; height: 11%; padding: 7px 0px 0px 0px;">설정된 색상 : {{details.led_color}}</div></label>
                    {% csrf_token %}
                    {{details.led_bright}}
                    <input type="radio" name="color" style="display: none;" value="{{details.led_color}}" checked/>
                    <input type="radio" name="power_radio" style="display: none;" id="power_radio" value="1" checked/>
                    <br>
                    <label for="color_1"><div class="color_div color_one">첫번째 색</div></label>
                    <input type="radio" name="color" id="color_1" value="597cd4"style="display: none;" onclick="$('#login_button').trigger('click');"/>
                    <br>
                    <label for="color_2"><div class="color_div color_two">두번째 색</div></label>
                    <input type="radio" name="color" id="color_2" value="a2f0a6"style="display: none;" onclick="$('#login_button').trigger('click');"/>
                    <br>
                    <label for="color_3"><div class="color_div color_thr">세번째 색</div></label>
                    <input type="radio" name="color" id="color_3" value="946c52"style="display: none;" onclick="$('#login_button').trigger('click');"/>
                    <br>
                    <label for="power"><div class="color_div">전원 {{details.led_power}}</div></label>
                    <input type="radio" name="power_radio" id="power" value="0" style="display: none;" onclick="$('#login_button').trigger('click');"/>
                    <input type="radio" name="power_radio" id="power2" value="1" style="display: none;" checked/>
                    <br>
                    <div class="color_div">밝기
                    <input class="slidebar" type="range" name="led_bright" id="led_bright" value="{{details.led_bright}}" min="0" max="100"  onchange="$('#login_button').trigger('click');">
                    </div>
                    <br>
                    <input type="submit" id="login_button" style="display: none;">
                </form>
            </div>
            <!-- <label for="login_button" id="button_box"><div id="button">결정</div></label> -->
        </div>
    </div>
</body>
</html>