@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: underline; cursor: pointer;}
body {
    font-family: 'DungGeunMo';
    margin: 0px;
    background-color: #fbe9e9;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 200px;
    height: 28px;
    border: 1px solid rgb(63, 63, 63);
}
#back {
    font-size: 70px;
    margin-top: 50px;
}
#container {
    font-family: 'DungGeunMo';
    height: 1280px;
    width: 720px;
    margin: 0px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calender_box {
    height: 55%;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#emotion_box {
    height: 45%;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#emotion {
    height: 100%;
    width: 50%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}
#choose {
    height: 80%;
    width: 50%;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    font-size: 20px;
}
#watch_video {
    color: rgb(152, 152, 235);
}
#delete_video {
    color: #eb4166;
}
#write_diary {
    font-size: 50px;
    color: rgb(48, 48, 48);
}
::-webkit-scrollbar { width: 30px; } /* 스크롤 바 */
::-webkit-scrollbar-track { background-color:#fbe9e9; } /* 스크롤 바 밑의 배경 */
::-webkit-scrollbar-thumb { background: #e2c1c1; border-radius: 10px; } /* 실질적 스크롤 바 */
::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */

table {
    clear: both;
    width: 90%;
    height: 90%;
}
th {
    height: 40px;
    width: 40px;
    background-color:  #f2b0b0;
    font-size: 30px;
}
td {
    text-align: center;
    height: 80px;
    width: 40px;
    background-color: #ffffff;
    font-size: 30px;
}
input {
    height: 40px;
    width: 40px;
    border: none;
    background-color:  #f2b0b0;
    font-size: 30px;
}
.year_mon{
    font-size: 30px;
}
.colToday{
    background-color: #dab0f2;
}
.selToday{
    background-color: #f2b0b0;
}
#remind {
    color: rgb(152, 152, 235);
}
.least_emotion {
    font-size: 30px;
}