@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: underline; cursor: pointer;}
body {
    font-family: 'DungGeunMo';
    margin: 0px;
}
input{
    width: 200px;
    height: 28px;
    border: 1px solid rgb(63, 63, 63);
}
#back {
    font-size: 70px;
    margin-top: 50px;
}
#container {
    font-family: 'DungGeunMo';
    height: 2560px;
    width: 1400px;
    margin: 0px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calender_box {
    height: 55%;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(255, 229, 229); */
}
#emotion_box {
    height: 45%;
    width: 100%;
    margin: 0px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(219, 219, 219); */
}
#emotion {
    height: 100%;
    width: 50%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(219, 219, 219); */
}
#choose {
    height: 100%;
    width: 50%;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
#watch_video {
    color: rgb(152, 152, 235);
}
#delete_video {
    color: #eb4166;
}
#write_diary {
    font-size: 70px;
    color: rgb(48, 48, 48);
}
::-webkit-scrollbar { width: 50px; } /* 스크롤 바 */
::-webkit-scrollbar-track { background-color:#fff; } /* 스크롤 바 밑의 배경 */
::-webkit-scrollbar-thumb { background: #ddd; border-radius: 10px; } /* 실질적 스크롤 바 */
::-webkit-scrollbar-thumb:hover { background: #404040; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
::-webkit-scrollbar-thumb:active { background: #808080; } /* 실질적 스크롤 바를 클릭할 때 */
::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */

table {
    clear: both;
    width: 70%;
    height: 70%;
    font-size: 45px;
}
th {
    height: 100px;
    width: 70px;
    background-color:  orange;
}
td {
    text-align: center;
    height: 150px;
    width: 70px;
    background-color: #FFFDC5;
}
input {
    height: 50px;
    width: 70px;
    border: none;
    background-color:  orange;
    font-size: 45px;
}
.year_mon{
    font-size: 45px;
}
.colToday{
    background-color: #FFA07A;
}
.selToday{
    background-color: #b9af52;
}
#remind {
    color: rgb(152, 152, 235);
}
.least_emotion {
    font-size: 50px;
}