@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: underline; cursor: pointer;}
body {
    font-family: 'DungGeunMo';
    margin: 0px;
}
input{
    width: 55%;
    height: 25%;
    border: 1px solid rgb(63, 63, 63);
}
form {
    padding-left: 10%;
}
#container {
    font-family: 'DungGeunMo';
    height: 1280px;
    width: 720px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#login_box {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px solid rgb(103, 103, 248);
    border-radius: 20px;
}

#login_title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

#login {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;

}
#button_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:130%;
    height:20%;

}
#button {
    display: flex;
    justify-content: center;
    align-items: center;
    width:35%;
    height:60%;
    font-size: 30px;
    border: 8px solid rgb(103, 103, 248);
    border-radius: 10px;
}

#button:hover {cursor: pointer;}

#password_check_button:hover {cursor: pointer;}

#id_check_button{
    padding-top: 8px;
    font-size: 30px;
    width: 45%;
    height: 30%;
    font-family: 'DungGeunMo';
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(63, 63, 63);
    background-color: aliceblue;
    border-radius: 8px;
    margin-left: 50%;
}
#id_check_button:hover {cursor: pointer;}

.keypad {
    position:absolute;
    top:0;
    left:0;
    padding: 10px;
    width:100%;
    max-width: 400px;
    background-color:#eceef1;
    z-index:100;
    border-radius:20px;
    transition:opacity .5s, left .2s;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
    /* Good browsers */
    opacity: 0;
    display:none;
}
.keypad.on {
    /* IE 8 */  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 5-7 */  filter: alpha(opacity=100);
    /* Netscape */  -moz-opacity: 1;
    /* Safari 1.x */  -khtml-opacity: 1;
    /* Good browsers */ opacity: 1;
    display:block;
}
.keypad .item { margin-bottom:15px; }
.keypad .item:last-child { margin-bottom:0; }
.keypad .item a {
    width: 30%;
    height: 150px;
    border:5px solid #fff;
    border-radius:50%;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:#172638;
}
.keypad .item a.n {font-size: 3.0rem;}
.keypad .item a.ok {font-size: 1.8rem;}
.keypad .item a.back {font-size: 1.8rem;}
/* .keypad .item a.back span {position:relative;color:#fff;background-color:#172638;padding: 0 10px 0 5px;text-align:center;line-height: 24px;width: 50px;height: 50px;}
.keypad .item a.back span::before {content: "";position: absolute;left: -12px;bottom: 0;width: 50px;height: 50px;border-right: 12px solid #172638;border-top: 12px solid transparent;border-bottom: 12px solid transparent;} */

.keypad .item a.hover { background-color:#c7daf4; }
.keypad .item a:active { background-color:#829fc4; color:#fff; }
/*.keypad .item a.back:active span { background-color:#fff; color:#829fc4; }*/
/*.keypad .item a.back:active span::before { border-right: 12px solid #fff; }*/


@media all and (max-width:767px){
    .keypad { position:fixed; bottom:0; max-width:320px; padding:15px 20px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
    .keypad .item a { width:80px; height:80px; }

    .web { display:none !important; }
    .web-ib { display:none !important; }
    .mob { display:block !important; }
}